In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
html_doc = """
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>


"""

In [ ]:
soup = BeautifulSoup(html_doc,"html.parser")

In [ ]:
table_data = soup.find("table")

In [ ]:
table_data

<table>
<tr>
<th>Company</th>
<th>Contact</th>
<th>Country</th>
</tr>
<tr>
<td>Alfreds Futterkiste</td>
<td>Maria Anders</td>
<td>Germany</td>
</tr>
<tr>
<td>Centro comercial Moctezuma</td>
<td>Francisco Chang</td>
<td>Mexico</td>
</tr>
<tr>
<td>Ernst Handel</td>
<td>Roland Mendel</td>
<td>Austria</td>
</tr>
<tr>
<td>Island Trading</td>
<td>Helen Bennett</td>
<td>UK</td>
</tr>
<tr>
<td>Laughing Bacchus Winecellars</td>
<td>Yoshi Tannamuri</td>
<td>Canada</td>
</tr>
<tr>
<td>Magazzini Alimentari Riuniti</td>
<td>Giovanni Rovelli</td>
<td>Italy</td>
</tr>
</table>

In [ ]:
list(table_data.children)

['\n', <tr>
 <th>Company</th>
 <th>Contact</th>
 <th>Country</th>
 </tr>, '\n', <tr>
 <td>Alfreds Futterkiste</td>
 <td>Maria Anders</td>
 <td>Germany</td>
 </tr>, '\n', <tr>
 <td>Centro comercial Moctezuma</td>
 <td>Francisco Chang</td>
 <td>Mexico</td>
 </tr>, '\n', <tr>
 <td>Ernst Handel</td>
 <td>Roland Mendel</td>
 <td>Austria</td>
 </tr>, '\n', <tr>
 <td>Island Trading</td>
 <td>Helen Bennett</td>
 <td>UK</td>
 </tr>, '\n', <tr>
 <td>Laughing Bacchus Winecellars</td>
 <td>Yoshi Tannamuri</td>
 <td>Canada</td>
 </tr>, '\n', <tr>
 <td>Magazzini Alimentari Riuniti</td>
 <td>Giovanni Rovelli</td>
 <td>Italy</td>
 </tr>, '\n']

In [ ]:
list_data = []
for trs in table_data.children:
  if (trs=='\n'):
    continue  #skip '\n' in the list
  else:
    data = trs.find_all("td")
    temp = []
    for i in data:
      temp.append(i.text)
    list_data.append(temp)

In [ ]:
master = []
for row in table_data.children:
  if(row=='\n'):
    continue
  else:
    # print(row)
    data = row.find_all('td')
    temp = []
    if data: # check whether the list is empty
      for i in data:
        temp.append(i.text)
      master.append(temp)

In [ ]:
master

[['Alfreds Futterkiste', 'Maria Anders', 'Germany'],
 ['Centro comercial Moctezuma', 'Francisco Chang', 'Mexico'],
 ['Ernst Handel', 'Roland Mendel', 'Austria'],
 ['Island Trading', 'Helen Bennett', 'UK'],
 ['Laughing Bacchus Winecellars', 'Yoshi Tannamuri', 'Canada'],
 ['Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Italy']]

In [ ]:
master[0]

['Alfreds Futterkiste', 'Maria Anders', 'Germany']

In [ ]:
master[1]

['Centro comercial Moctezuma', 'Francisco Chang', 'Mexico']

In [ ]:
l = [10]
if l:
  print('hello')

hello